* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  display: flex;
  width: 90vw;
  border-radius: 50px;
  padding: 15px;
}

.slide {
  position: relative;
  flex:0.5;
  height: 80vh;
  border-radius: 50px;
  margin: 0 15px;
  transition: flex 1s ease-in;
  background-size: cover!important;
  cursor: pointer;
}
.slide  h3 {
  opacity: 0;
  position: absolute;
  bottom: 24px;
  left: 45px;
  color: aliceblue;
  font-size: 25px;
}
.active {
  flex:5
}
.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}